@charset "UTF-8";
.navigation {
  height: 80px;
  background: black;
  box-shadow: #0a6dd6 0px 10px 8px, rgba(71, 69, 69, 0.955) 0px -4px 10px, #135ec7 0px 8px 6px, #1957de 0px 8px 7px, #376fe7 0px -8px 5px;
  animation: btnm 1s ease infinite; }
  .navigation #logo {
    padding-left: 6vw;
    float: left;
    line-height: 80px;
    font-size: 1.4em; }
    .navigation #logo a {
      text-decoration: none; }
      .navigation #logo a i {
        font-size: 28px;
        animation: icon 2s ease-in-out infinite; }

@keyframes icon {
  0% {
    color: red;
    left: 0px;
    top: 0px; }
  25% {
    color: #0fa8cf;
    left: 200px;
    top: 0px; }
  50% {
    color: #f6ff00;
    left: 200px;
    top: 200px; }
  75% {
    color: #1ff707;
    left: 0px;
    top: 200px; }
  100% {
    color: #b300ff;
    left: 0px;
    top: 0px; } }
      .navigation #logo a span {
        font-size: 22px;
        padding-left: 10px;
        color: white;
        font-weight: bold; }
      .navigation #logo a span:hover {
        color: chartreuse; }

@keyframes btnm {
  0% {
    box-shadow: #0a6dd6 0px 10px 8px, rgba(71, 69, 69, 0.955) 0px -4px 10px, #135ec7 0px 8px 6px, #1957de 0px 8px 7px, #376fe7 0px -8px 5px; }
  25% {
    box-shadow: #c20ad6 0px 10px 8px, rgba(142, 15, 142, 0.955) 0px -4px 10px, #135ec7 0px 18px 6px, #de19a0 0px 18px 7px, #e737c1 0px -12px 5px; }
  50% {
    box-shadow: #0ad640 0px 10px 8px, rgba(71, 69, 69, 0.955) 0px -4px 10px, #a9c713 0px 8px 6px, #19de23 0px 8px 7px, #37e7a9 0px -8px 5px; }
  100% {
    box-shadow: #0a6dd6 0px 10px 8px, rgba(71, 69, 69, 0.955) 0px -4px 10px, #135ec7 0px 8px 6px, #1957de 0px 8px 7px, #376fe7 0px -8px 5px; } }

nav {
  float: right;
  margin-right: 8vw; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        font-size: 22px;
        text-decoration: none;
        color: white; }
        nav ul li a::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: #32ea04;
          width: 0%;
          bottom: 0px; }
        nav ul li a:hover::before {
          width: 70%; }
        nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
