.sign-up {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 100%; }
  .sign-up .container {
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
    .sign-up .container .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center; }
    .sign-up .container form {
      margin-top: -20px; }
      .sign-up .container form .data {
        height: 45px;
        width: 100%;
        margin: 40px 0; }
        .sign-up .container form .data label {
          font-size: 18px; }
        .sign-up .container form .data input {
          height: 100%;
          width: 100%;
          padding-left: 10px;
          font-size: 17px;
          border: 1px solid silver; }
        .sign-up .container form .data input:focus {
          border-color: #3498db;
          border-bottom-width: 2px; }
      .sign-up .container form .btn {
        margin: 30px 0;
        height: 45px;
        width: 100%; }
        .sign-up .container form .btn button {
          height: 100%;
          width: 100%;
          background: linear-gradient(90deg, blue, green, yellow);
          color: white;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer; }
      .sign-up .container form .btn:hover .inner {
        left: 0; }
      .sign-up .container form .signup-link {
        text-align: center; }
        .sign-up .container form .signup-link a {
          color: #3498db;
          text-decoration: none; }
        .sign-up .container form .signup-link a:hover {
          text-decoration: underline; }
