 <div class="landing-Page">
   <div class="detail">
      <div class=headcontent>
         Feel the Music <i class="fa fa-music"></i>
      </div>
      <div class="content">
         <em>Music and Rythmn find their <br> way into the secret places <br> of the soul.</em> 
      </div>
      <div class="button"><a href="/user/sign-up">Sign Up Now</a></div>
    </div>
    <div class="marsh">
        <img src="https://i.postimg.cc/pLnnqwzC/pic.png" alt="Marshmello image">
        <br>
        <img src="/image/lp_img.png" alt="Marshmello image" id="img">
     </div>
 </div>
 