<div class="sign-up">
    <div class="container">
        <div class="text">
            Sign-Up Form
        </div>
        <form action="/user/create" method="post">
            <div class="data">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Your password" required>
            </div>
            <div class="data">
                <label for="password">Confirm-Password</label>
                <input type="password" name="Confirm_password" id="password" placeholder="Enter Your password" required>
            </div>
            <div class="data">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="btn">
                <div class="inner">
                </div>
                <button type="submit">Sign-In</button>
            </div>
            <div class="signup-link">
                Already have account ! 
                <a href="/user/sign-in">
                Sign-In now
                </a>
            </div>
        </form>
    </div>
</div>